*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background: #eee;
}
.clearfix:after{
    content: ""; display: block; height: 0; font-size: 1px; clear: both; overflow: hidden;
    visibility: hidden;
}

.c-header{
    width:100%;
    height:360px;
    background:url(../img/c-banner.jpg) no-repeat center;
    .cc-header-nav{
        width:100%;
        height:78px;
        background: linear-gradient(to bottom,black,transparent);
        .c-header-nav{
            position: relative;
            width:1358px;
            height:78px;
            // margin-left:39px;
            margin:0 auto;//修改
            .c-header-logo{
                margin-top: 10px;
                float: left;
            }
            .c-header-nav-list{
                position: absolute;
                left:158px;
                z-index:100;
                padding-top: 16px;
                padding-left: 10px;
                // overflow: hidden;
                float: left;
                text-align: center;
                // &:hover li .info{
                //     display: block;
                // }
                li{
                    float:left;
                    position: relative;
                    .c-header-nav-pointer{
                        cursor: auto;
                    }
                    .c-list-a{
                        font-size:18px;
                        color:#fff;
                        display: block;
                        width:150px;
                        height:78px;
                        letter-spacing: 1px;
                        .c-title2{
                            font-size:11px;
                            color:#aeaeae;
                            display: block;
                        }
                    }
                    .c-info{
                        display: none;
                        position: absolute;
                        z-index:120;
                        top:68px;
                        // background-color: pink;
                        width:150px;
                        a{
                            cursor: pointer;
                            font-size:14px;
                            color:#e1e1e1;
                            display: block;
                            width:150px;
                            height:29px;
                            letter-spacing: 1px;
                            line-height:29px; 
                        }
                    }
                }
            }
            .c-register{
                float: right;
                .c-login{
                    float:right;
                    width:244px;
                    height:78px;
                    color: #fefefe;
                    font-size:16px;
                    line-height: 78px;
                    float: right;
                    overflow: hidden;
                    img{
                        margin-top:14px;
                        float: left;
                    }
                    span{
                        float: left;
                        margin-left:10px;
                    }
                }
                .c-phone{
                    float:right;
                    display: block;
                    margin:25px 43px 16px 12px;
                }
                .c-search{
                    float:right;
                    display: block;
                    margin:26px 32px 20px 20px;
                    cursor: pointer;
                }
                
                
            }
        }
    }
    .c-top-mask{
        width:100%;
        height:350px;
        background: #5f5f5f;
        position: absolute;
        opacity:0.5;
        top:0;
        z-index: 50;
        display: none;
    }
    .c-header-bottom{
        width:100%;//修改
    }
    .c-header-bottom{
        width:1358px;
        height:282px;
        // margin-left:39px;
        margin:0 auto;//修改
        position: relative;
        .c-btn{
            width:160px;
            height:40px;
            border:1px solid #98732d;
            line-height: 40px;
            text-align: center;
            background: #100c0e;
            color:#a47c30;
            cursor: pointer;
            left:600px;
            top:210px;
            position: absolute;
        }
        .c-header-bottom-right{
            position: absolute;
            right:0;
            bottom:28px;
            font-size:14px;
            color:#888787;
            span{
                color:#f5d185;
                margin-right:10px;
            }
            .c-header-bottom-right-btn{
                width:82px;
                height:26px;
                border:1px solid #98732d;
                line-height: 26px;
                text-align: center;
                background: #100c0e;
                color:#f5d185;
                cursor: pointer;
            }
        }
    }
}
.c-content{
    padding:40px 0 0 0;
    overflow: hidden;
    background-color: #eeeeee;
    width:1358px;
    margin:0 auto;
    .c-banner{
        float: left;
        width:820px;
        height:380px;
        position:relative;
        .c-box{
            width:820px;
            height:340px;
            overflow-x:hidden ;
            .c-images{
                width:6000px;
                height:340px;
                img{
                    float:left;
                    width:820px;
                    height:340px;
                }
            }
        }
        .c-number{
            li{
                list-style: none;
                float:left;
                width:164px;
                height:40px;
                // margin-right:5px;
                background: #e3e2e2;
                text-align: center;
                line-height: 40px;
                font-size:14px;
                color:#424242;
                box-sizing: border-box;
                border-bottom:2px solid #e3e2e2;
            }
            .c-active{
                background: #f7f6f6;
                color:#c59b66;
                border-bottom:2px solid #cea861;
            }
        }
    }
    .c-news{
        width:496px;
        height:380px;
        float: left;
        margin-left:40px;
        // border: 1px solid red;
        .c-news-tab{
            width:496px;
            height:35px;
            box-sizing: border-box;
            border-bottom: 1px #e0e2e2 solid;
            .c-news-tab-title{
                float: left;
                font-size: 18px;
                line-height: 24px;
                height:35px;
                margin-right:74px;
                color:#676767;
                position: relative;
                .c-line{
                    position: absolute;
                    background-image: url(../img/tab-title-selected.png);
                    background-position: center center;
                    width:100%;
                    height:7px;
                    top:30px;
                    display: none;
                }
                .c-show{
                    display: block;
                }
            }
            .c-news-tab-title5{
                margin-right:0;
            }
            .c-selected{
                color:#1da6ba;
                font-weight:bold;
            }
        }
        .c-news-tab-content{
            .c-news-tab-content-title1{
                color:#0da0b4;
                font-size: 22px;
                width:496px;
                height:59px;
                line-height: 59px;
                text-align: center;
                font-weight:bold;
                border-bottom: 1px #e0e2e2 solid;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                box-sizing: border-box;
                padding-right:20px;
            }
            .c-news-tab-content-title{
                width:496px;
                border-bottom: 1px #e0e2e2 solid;
                height:40px;
                overflow: hidden;
                span{
                    float:left;
                    display:block;
                    width:36px;
                    height:20px;
                    color:#bb9a6c;
                    border:1px #c5ab86 solid;
                    box-sizing:border-box;
                    font-size:12px;
                    text-align: center;
                    line-height: 20px;
                    margin-right:15px;
                    margin-top:9px;
                }
                a{
                    display: block;
                    float:left;
                    color:#424242;
                    font-size: 14px;
                    line-height: 40px;
                    cursor:pointer;
                }
                i{
                    font-style:normal;
                    float:right;
                    display: block;
                    margin-right:10px;
                    line-height: 39px;
                    font-size:14px;
                    color:#9d9d9d;
                }
            }

        }
        .c-news-btn{
            width:496px;
            height:40px;
            background: #dad8d8;
            font-size:14px;
            color:#676767;
            border:none;
        }
    }
}
.c-hot{
    padding-top:50px;
    background-color: #eeeeee;
    overflow: hidden;
    width:1358px;
    margin:0 auto;
    .c-hotEvent{
        float: left;
        .c-hot-tab{
            width:820px;
            height:35px;
            .hot-title{
                box-sizing: border-box;
                padding-top:5px;
                float: left;
                font-size:24px;
                color:#0b0b0b;
                font-weight: normal;
                margin-right:20px;
            }
            .c-hot-tab-title-list{
                width:692px;
                height:35px;
                box-sizing: border-box;
                border-bottom: 1px #e0e2e2 solid;
                float:left;
                .c-hot-tab-title{
                    float:left;
                    font-size:16px;
                    color:#676767;
                    line-height: 35px;
                    height:35px;
                    margin-right:40px;
                    letter-spacing: 1px;
                    position: relative;
                    .c-hot-line{
                        position: absolute;
                        background-image: url(../img/tab-title-selected.png);
                        background-position: center center;
                        width:100%;
                        height:7px;
                        top:30px;
                        display: none;
                    }
                    .c-hot-show{
                        display: block;
                    }
                }
                .c-hot-selected{
                    color:#1da6ba;
                    font-weight:bold;
                }
            }
        }
        .c-hot-tab-content-list{
            margin-top:21px;
            width:840px;
            // overflow: hidden;
            .c-hot-tab-content-li{
                position: relative;
                float:left;
                width:193px;
                height:278px;
                background-color: #fefefe;
                margin-right:16px;
                .c-hot-tab-img{
                    width:193px;
                    height:207px;
                }
                .c-hot-tab-content-title{
                    font-size:14px;
                    color:#424242;
                    line-height: 18px;
                    padding:6px 10px 4px 10px;
                }
                .c-hot-tab-content-time{
                    position: absolute;
                    font-size:12px;
                    color:#1da6ba;
                    left:10px;
                    bottom:6px;
                }
                .c-hot-tab-mask{
                    z-index:99;
                    width:193px;
                    height:207px;
                    background-color:#292828;
                    opacity:0.8;
                    display: none;
                    position: absolute;
                    left:0;
                    top:0;
                }
                .c-hot-tab-li-hover{
                    left:5px;
                    top:5px;
                    z-index:999;
                    position: absolute;
                    display: none;
                    width:183px;
                    height:197px;
                    border:1px solid #fefefe;
                    text-align: center;
                    .c-hot-tab-li-hover-title{
                        color:#c4be91;
                        font-size:18px;
                        font-weight: normal;
                        margin-top:70px;
                    }
                    .c-hot-tab-li-hover-detail{
                        color:#9d9c9c;
                        font-size:12px;
                    }
                    .c-hot-tab-li-hover-time{
                        color:#9d9c9c;
                        font-size:12px;
                    }
                }
            }
        }
        .clearfix:after{
            content: ""; display: block; height: 0; font-size: 1px; clear: both; overflow: hidden;
            visibility: hidden;
        }
    }
    .c-downloadAll{
        margin-left:20px;
        float: left;
        width:496px;
        height:335px;
        .c-download{
            overflow: hidden;
            .c-download-left{
                float: left;
                width:366px;
                height:168px;
                background-color: #2ea8c7;
                cursor: pointer;
                .c-p1{
                    padding-top:55px;
                    font-size:32px;
                    color:#fffeff;
                    text-align: center;
                    font-weight: bold;
                }
                .c-p2{
                    font-size:12px;
                    color:#fffeff;
                    text-align: center;
                }
            }
            .c-download-right{
                margin-left:12px;
                width:118px;
                float: left;
                .c-new{
                    width:118px;
                    height:76px;
                    background-color: #2ea8c0;
                    margin-bottom:17px;
                    font-size:14px;
                    font-weight:700;
                    color:#fffeff;
                    text-align: center;
                    line-height: 76px;
                }
                .c-get{
                    width:118px;
                    height:76px;
                    background-color: #2ea8c0;
                    font-size:14px;
                    font-weight:700;
                    color:#fffeff;
                    text-align: center;
                    line-height: 76px;
                }
            }
        }
        .c-contactUs{
            width:496px;
            .c-contact-list{
                width:512px;
                overflow: hidden;
                .c-contact-li{
                    float: left;
                    width:112px;
                    height:68px;
                    margin:15px 16px 0 0;
                    background-color: #fefefe;
                    font-size:12px;
                    color:#676767;
                    text-align: center;
                    line-height: 68px;
                }
            }
        }
    }
}
.c-newAll{
    margin:0 auto;
    margin-bottom: 300px;
    width:1358px;
    padding-top:50px;
    background-color: #eeeeee;
    .c-new{
        float: left;
        width:820px;
        height:254px;
        .c-newHero{
            float: left;
            margin-right:16px;
            width:402px;
            height: 254px;
            position: relative;
            .c-new-mask{
                width:402px;
                height: 254px;
                background: #5f5f5f;
                opacity: 0.7;
                position: absolute;
                top:10px;
                left:0;
                z-index: 100;
                display: none; 
            }
            .c-new-li-hover{
                display: none;
                z-index: 999;
                position: absolute;
                top:16px;
                left:6px;
                width:390px;
                height:242px;
                box-sizing: border-box;
                border:1px solid #6f6f6f;
                .c-new-li-hover-title{
                    position: absolute;
                    font-size: 18px;
                    color:#cdbe91;
                    left:16px;
                    top:15px;
                    font-weight: normal;
                }
                .c-new-li-hover-btn{
                    font-size: 16px;
                    color:#ffdb8b;
                    background-color: transparent;
                    width:149px;
                    height:42px;
                    box-sizing: border-box;
                    border:1px double #ad9983;
                    left:16px;
                    bottom:15px;
                    position: absolute;
                }
            }
        }
        .c-newSkin{
            float: left;
            display: block;
            position: relative;
            .c-slide{
                display: none;
                position: absolute;
                left:-418px;
                top:254x;
                width:1368px;
                padding-top:30px;
                .c-slide-li{
                    float: left;
                    width:185px;
                    height:117px;
                    margin-right:10px;
                    img{
                        width:185px;
                        height:117px;
                    }
                }
            }
        }
    }
    .c-moon{
        float: left;
        padding-left: 40px;
        // overflow: hidden;
        // width:496px;
        .moon-left{
            float: left;
            .c-moonGirl{
                &:hover .c-moonvideo{
                    display: block;
                }
                position: relative;
                margin-bottom:15px;
                .c-moonvideo{
                    width:270px;
                    height:250px;
                    position: absolute;
                    left:-17px;
                    top:-15px;
                    z-index:99;
                    display: none;
                }
            }
            img{
                display: block;
            }
            .c-jie{
                position: relative;
                .c-jie-2{
                    display: none;
                    z-index: 100;
                    position: absolute;
                    left:0;
                    top:0;
                }
            }
        }
        .moon-right{
            float: left;
            margin-left:15px;
            .c-moonBoy{
                width:242px;
                height:180px;
                position: relative;
                img{
                    display: block;
                    z-index: 1;
                }
                .c-moonBoy-mask{
                    z-index:99;
                    width:242px;
                    height:180px;
                    background-color:#292828;
                    opacity:0.8;
                    display: none;
                    position: absolute;
                    left:0;
                    top:0;
                }
                .c-moonBoy-hover{
                    left:5px;
                    top:5px;
                    z-index:999;
                    position: absolute;
                    display: none;
                    width:232px;
                    height:170px;
                    box-sizing: border-box;
                    border:1px solid #fefefe;
                    text-align: center;
                    .c-moonBoy-hover-title{
                        color:#c4be91;
                        font-size:18px;
                        font-weight: normal;
                        margin-top:60px;
                    }
                    .c-moonBoy-hover-detail{
                        color:#9d9c9c;
                        font-size:12px;
                    }
                }
            }
            .c-free{
                width:239;
                height:58px;
                background: #bca27a;
                font-size:16px;
                color:#fff;
                line-height: 58px;
                text-align: center;
                margin-top:16px;
                position: relative;
                &:hover .c-free-content{
                    display: block;
                }
                .c-free-content {
                    display: none;
                    background:#fff;
                    position: absolute;
                    right:0;
                    top:78px;
                    overflow: hidden;
                    width:420px;
                    .c-free-hero{
                        margin:7px 5px 0 5px;
                        float: left;
                        img{
                            display: block;
                            width:46px;
                            height:46px;
                            border:2px solid #bb9a6c;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}








