

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

html{
    width: 100%;
    // height: 100%;
    body{  
        width: 100%;
        // height: 100%;
      
        .w-top{
            width: 100%;
            height: 42px;
            border-bottom: 1px solid #ccc;
         
            top: 0;
            background: white;
            .w-top-main{
                width: 1054px;
                height: 42px;
                margin:0 auto ;
                overflow: hidden;
                .w-tu1{
                    width: 220px;
                    height: 42px;
                    background: url("../img/w (7).png")no-repeat;
                    float: left;
                }
                .w-tu2{
                    width: 230px;
                    height: 42px;
                    background: url("../img/w (8).png")no-repeat;
                    float: left;
                }
                .w-right{
                    width: 315px;
                    height: 42px;
                    float: right;
                    .w-right-p{
                        width: 205px;
                        height: 42px;
                        float: left;
                       .w-a{
                            width: 67px;
                            height: 15px;
                            line-height: 42px;
                            padding:0 7px 0 7px;
                            font-size: 12px;
                            text-decoration: none;
                            border-right: 1px solid #999;
                            color: #464646;
                       }
                    }
                    .w-bg{
                        width: 108px;
                        height: 42px;
                        background: url("../img/w (9).png")no-repeat;
                        float: right;
                    }
                   
                        
                    
                    .w-bg-a{
                        cursor: pointer;
                        line-height: 42px;
                        font-size: 12px;
                        padding-left: 15px;
                        text-decoration: none;
                    }
                }
            }
        }
        .w-main{  
            width: 100%;
            overflow: hidden;
            .w-main1{
                width: 100%;
                overflow: hidden;
                background: url("../img/w (19).jpg")no-repeat 50% 0;
                .w-main2{
                    overflow: hidden;
                    width: 100%;
                    height: 693px;
                    background: url("../img/w (20).jpg")no-repeat 50% 0;
                    .w-main3{ 
                        font-size: 16px;
                        width: 848px;
                        margin: 530px auto 0;
                        color: whitesmoke;
                    }
                }
                // 仲裁骑士
                .w-main4{
                    width: 100%;
                    height: 921px;
                    background: url("../img/w (21).jpg") no-repeat 50% 0; 
                    .w-zc{
                        width: 1054px;
                        height: 921px;
                        margin: 0 auto;
                        padding-top: 134px;
                        .w-z{
                            width: 1124px;
                            height: 921px;
                            .w-main4-tu1{
                                width: 491px;
                                height: 319px;
                                transition: all 0.4s;
                                margin-right: 70px;
                                position: relative;
                                float: left;
                                cursor: pointer; 
                                margin-bottom: 96px;
                                img{
                                position: absolute;
                                }
                            }
                            .w-main4-tu1 img:hover{
                                transform: scale(1.06);
                                    
                            }
                            .w-main4-tu1:hover{ 
                                transform: scale(1.06);
                            }
                        }
                    }
                        
                } 
                // 守护骑士
                .w-main5{
                    width: 100%;
                    height: 1415px;
                    background: url("../img/w (22).jpg") no-repeat 50% 0;  
                    .w-sh{  
                        width: 1054px;
                        height: 1415px;
                        margin: 0 auto;
                        padding-top: 142px;
                        .w-sh-top{
                            width: 1054px;
                            height: 708px;
                            margin-bottom: 65px;
                            .w-sh-l{
                                width: 352px;
                                height: 708px;
                                float: left;
                                .w-main5-tu2{
                                    width: 352px;
                                    height: 323px;
                                    margin-bottom: 65px;
                                    transition: all 0.4s;
                                    position: relative;
                                    cursor: pointer; 
                                    img{
                                        width: 352px;
                                        height: 319px;
                                        overflow: hidden;
                                        transition: all 0.4s;
                                        position: absolute;   
                                    }
                                     img:hover{
                                        transform: scale(1.06);
                                            
                                    }
                                    .w-main4-tu1:hover{ 
                                        transform: scale(1.06);
                                    }
                                }
                            }
                            .w-sh-r{
                                width: 638px;
                                height: 708px;
                                float: right;
                               cursor: pointer;
                            }
                            .w-main5-tu2{
                                width: 638px;
                                height: 708px;
                                margin-bottom: 65px;
                                transition: all 0.4s;
                                position: relative;
                                cursor: pointer; 
                                img{
                                    width: 638px;
                                    height: 704px;
                                    overflow: hidden;
                                    transition: all 0.4s;
                                    position: absolute;   
                                }
                                 img:hover{
                                    transform: scale(1.06);
                                        
                                }
                                .w-main4-tu1:hover{ 
                                    transform: scale(1.06);
                                }
                            }
                        }                  
                        
                        .w-sh-bottom{
                            width: 1054px;
                            height: 380px;
                            .w-box{
                                width: 1124px;
                                height: 380px;
                                .w-main5-tu2{
                                    width: 491px;
                                    height: 323px;
                                    float: left;
                                    margin-right: 71px;
                                    transition: all 0.4s;
                                    margin-right: 70px;
                                    position: relative;
                                    float: left;
                                    cursor: pointer; 
                                    margin-bottom: 96px;
                                    img{
                                    position: absolute;  
                                    transition: all 0.4s;    
                                    }
                                    img{
                                        width: 491px;
                                        height: 319px;
                                    }
                                      img:hover{
                                            transform: scale(1.1); 
                                        }
                                        .w-main5-tu2:hover{ 
                                            transform: scale(1.1);
                                        }
                                    }


                                }
                            } 
                            .w-kf{
                                width: 240px;
                                height: 74px;
                                margin: 0 auto;
                                margin-bottom: 150px;
                            } 
                        }
                       
                    }

               
                // 常见问题
                .w-main6{
                    width: 100%;
                    height: 730px;
                    background: url("../img/w (23).jpg") no-repeat 50% 0; 
                    .w-wt{
                        width: 1054px;
                        height: 730px;
                        margin: 0 auto;
                        .s3{
                            font-size: 15px; 
                            text-align: justify;
                             overflow: hidden;
                        }
                        .s3 .q{color: #a07a33;}
                        .s3 .a{color: #d4b476;}
                        .s3 ul{margin-top: 120px;}
                        .s3 li{margin-bottom: 54px;}           
                    }  
                }
            }

        }
        // 底部
        .w-ft{
            min-width: 1054px;
            background: #02101b;
            text-align: center;
            color: #757575;
            font-size: 12px;
            line-height: 20px;
            padding: 20px 0;
            .w-ft-a{
                color: #ccc;
                text-decoration: none;
            }
        } 
    }
}

// 英雄联盟客服专区

html{
    width: 100%;
    height: 100%;
   
    body{  
        width: 100%;
        height: 100%;
      
        .w-kfbig{
            width: 100%;
            height: 100%;
       
            .w-kfheader{
                
                width: 100%;
                height: 80px;
                background-color: #000;
                .w-kfheader-main{
                    width: 1100px;
                    height: 80px;
                    margin: 0 auto;
                    
                    .w-kfheader-mainl{
                        width: 210px;
                        height: 70px;
                        background: url("../img/w (28).png")no-repeat;
                        float: left;
                        margin-top: 5px;
                    }
                    .w-search{
                        position: relative;
                        margin-top: 23px;
                        width: 300px;
                        height: 34px;
                        border-radius: 17px;
                        border: 1px solid #666;
                        float: left;
                        .w-inner{
                            width: 100%;
                            height: 100%;
                            .w-key{
                                position: relative;
                                margin: 0 45px 0 20px;
                                height: 32px;
                                .w-input{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    padding: 0;
                                    line-height: 32px;
                                    border: 0 none;
                                    outline: 0;
                                    font-size: 13px;
                                    background: 0 0;
                                    
                                    position: relative;
                                    .list{
                               
                                        color: #fff;
                                        position: absolute;
                                        top: 55px;
                                        li{
                                            
                                            font-size: 14px;
                                            padding: 6px 10px;
                                            background-color: #eee;
                                        
                                        }
                                        .list li:hover{
                                            background-color: #ccc;
                                        }
    
                                   
                                    }
                                }
                            }
                            .w-button{
                                position: absolute;
                                top: 0;
                                right: 0;
                                width: 45px;
                                height: 32px;
                                cursor: pointer;
                                border: none;
                                outline: 0;
                                border-radius: 0 17px 17px 0;
                               
                                .w-iconfont{
                                    position: relative;
                                    font-size: 22px;
                                    width: 45px;
                                    height: 32px;
                                    display: inline-block;
                                  
                                }
                            }
                        }
                    }
                    .w-dl{
                        width: 100px;
                        height: 80px;
                        margin-top: 25px;
                        float: right;
                        line-height: 80px;
                        .w-dl-a{
                            width: 100px;
                            height: 30px;
                            border-radius: 15px;
                            background: #c08c02;
                            color: #fff;
                            text-align: center;
                            line-height: 30px;
                            opacity: 1;
                            display:block;
                        }
                    }
                }
            }
            .w-kfmain{
                width: 100%;
                min-height: 900px;
                background: url("../img/w (12).jpg")no-repeat;
                .w-fkmain-top{
                    width: 100%;
                    height: 140px;
                    color: #ffd674;
                    text-align: center;
                    font-size: 40px;
                    line-height: 140px;
                    text-shadow: 0 0 50px  red;
                }
                .w-tab{
                    width: 1102px;
                    overflow: hidden;
                    margin: 0 auto;
                    background-color: #fff;
                    .w-tab-left{
                        width: 200px;
                        height: 540px;
                        float: left;
                        cursor: pointer;
                        .w-tab-list{
                            width: 200px;
                            height: 540px;
                             li{
                                height: 60px;
                                line-height: 60px;
                                font-size: 15px;
                                text-align: left;
                                padding-left: 35px;
                                background: #383635;
                                color: #fff;
                                transition: all .3s;
                                border-bottom: 1px solid #111;
                               
                                }   
                            .active{
                                background-color:#c08c02;
                                color: #fff;       
                            }
                        }
                       
                    }
                    .w-tab-right{
                        width: 900px;
                        
                        border: 1px solid #dedede;
                        float:right ;
                       .show{
                            display: block;
                            width: 800px;
                            min-height: 465px;
                           
                            margin: 20px auto 0;
                        }
                       .hidde{
                            display: none;
                          
                        }
                        .top-box{
                            width: 800px;
                            height: 115px;
                            margin: 0 auto;
                            .top-boxlogo{
                                position: absolute;
                                left: 0;
                                bottom: 0;
                                width: 65px;
                                height:60px;
                                background: url("../img/w(34).png");
                                // -webkit-filter: grayscale(100%);
                                // filter: grayscale(100%); 
                            }
                            .top-box1{
                                position: relative;
                                width: 100%;
                                height: 50px;
                                border: 1px solid #dedede;
                                background: #f6f6f6;
                                margin-top: 45px;
                               
                                .top-box1r{
                                    width: 798px;
                                    height: 50px;
                                    float: right;
                                    font-size: 14px;
                                    line-height: 50px;
                                    text-align: center;
                                }
                            }
                            .w-title{             
                                width: 800px;
                                height: 52px;
                                margin-top: 30px;
                                .w-h2-title{
                                    font-size: 20px;
                                    padding: 6px 0;
                                    font-weight: 700;
                                    display: block;
                                }
                            }
                        }
                        .bottom-box{
                            width: 800px;
                            // height: 478px;
                            margin: 0  auto;
                            .bottom-tu{
                                
                                .tu{
                                    margin-right: 20px;
                                    margin-bottom: 50px;
                                }
                            }
                            .bottom-box1{
                                width: 800px;
                                // height: 478px;
                                .bottom-list-li{
                                    position: relative;
                                    padding: 12px 10px;
                                    border-bottom: 1px solid #dedede;
                                    font-size: 15px;
                                    transition: all .3s;
                                    color: #333;
                                    .kh{
                                        content: " ";
                                        display: inline-block;
                                        height: 8px;
                                        width: 8px;
                                        border-width: 2px 2px 0 0;
                                        border-color: #c8c8cd;
                                        border-style: solid;
                                        transform: rotate(45deg);
                                        -ms-transform: rotate(45deg);
                                        -webkit-transform: rotate(45deg);
                                        position: relative;
                                        position: absolute;
                                        top: 50%;
                                        margin-top: -4px;
                                        right: 20px;
                                    }
                                }
                                .bottom-list-li:hover{
                                    background-color:#dedede;
                                    color: #c08c02;
                                }
                            }
                        }
                         div{
                            overflow: hidden;
                        }
                    }  
                    
                }
                
            }
            .w-kffoot{
                height: 135px;
                background: #f5f5f5;
                margin-top: 30px;
                text-align: center;
                color: #888;
                overflow: hidden;
                .w-kffoot-link{
                    margin-top: 20px;
                    a{
                        color: #888;
                        display: inline;
                        font-size: 14px;
                        padding: 0 10px;
                        border-right: 1px solid #888;    
                       
                    }
                }
                .w-kffoot-p{
                    margin-top: 10px;
                }
            }
        }
    }
}

*{
    margin: 0;
    padding: 0;
}
.g-font{
    font-size: 14px;
    color: #59e4ff;
}
.g-col1{
    color: #3dc87e !important;
}
.g-col2{
    color: #ee9230 !important;
}
.g-col3{
    color: #ed4949 !important;
}
.g-col4{
    color: #9d9d9d !important;
}
html{
    .g-body{
        background-color: #101526;
        .g-big{
            width: 100%;
            background:url('../img/g (3).jpg') no-repeat 50% 0;
            overflow: hidden;
            .g-min{
                width: 1000px;
                margin: 0 auto;
                .g-minTop{
                    background:url('../img/g (2).jpg') no-repeat 50% 0;
                    height: 570px;
                    text-align: center;
                    overflow: hidden;
                    position: relative;
                    .g-titTop{
                        font-size: 16px;
                        color: #69f1ff;
                        margin-top: 497px;
                        font-weight: normal;
                    }
                    .g-idx{
                        display: block;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                    }
                }
                .g-minCenter{
                    background: url('../img/g\ \(1\).jpg') no-repeat 50% 0;
                    min-height: 500px;
                    margin-top: -1px;
                    box-sizing: border-box;
                    padding: 0 22px;
                    .g-cTop{
                        height:114px;
                        width: 100%;
                        .g-f1{
                            float: left;
                            
                            #g-f1b{
                                width: 142px;
                                height: 25px;
                                padding-left : 20px;
                                background-color: transparent;
                                // background-color: black;
                                border: #1c6070 1px solid;
                                margin-top: 11px;
                                .g-f1b1{
                                    display: block;
                                    float: left;
                                    width: 116px;
                                    height: 25px;
                                    font-size: 12px;
                                    line-height: 25px;
                                    color: #3f9ab0;
                                }
                                .g-f1b2{
                                    display: block;
                                    float: right;
                                    width: 25px;
                                    height: 25px;
                                    background: url('./../img/g (1).png') -987px -377px;
                                }
                             }
                             .g-f1c{
                                list-style: none;
                                background-color: #369ab1;
                                width: 162px;
                                display: none;
                                position: absolute;
                                .g-f1c1{
                                    height: 25px;
                                    font-size: 12px;
                                    line-height: 25px;
                                    padding-left: 20px;
                                }
                                .g-f1c1:hover{
                                    background-color: #59e4ff;
                                }
                             }
                        }
                        .g-f2{
                            float: left;
                            margin-left: 14px;
                            width: 330px;
                            .g-f2a{
                                height: 36px;
                                .g-ipt{
                                    float: left;
                                    display: block;
                                    box-sizing: content-box;
                                    width: 156px;
                                    height: 16px;
                                    padding: 4px;
                                    margin-top: 11px;
                                    border: 1px solid #1c6070;
                                    color: #3f9ab0;
                                    background-color: transparent
                                }
                                .g-seach{
                                    display: block;
                                    width: 61px;
                                    height: 35px;
                                    padding-left: 17px;
                                    margin:2px 0 0 5px;
                                    float: left;
                                    line-height: 38px;
                                    background: url('./../img/g (1).png') -908px -377px;
                                    cursor: pointer;
                                }
                            }
                            .g-reset{
                                display: block;
                                width: 61px;
                                height: 35px;
                                padding-left: 17px;
                                margin:22px 0 0 171px;
                                line-height: 38px;
                                background: url('./../img/g (1).png') -908px -377px;
                                cursor: pointer;
                            }
                        }
                        .g-f3{
                            float: left;
                            width: 296px;
                            height: 58px;
                            margin-left: 25px;
                            .g-schedule{
                                float: left;
                                width: 81px;
                                margin-top: 37px;
                                .g-she{
                                    display: block;
                                    background: url('./../img/g (1).png') no-repeat -908px -442px;
                                    width: 20px;
                                    height: 19px;
                                    float: left;
                                    margin-right: 5px;
                                }
                            }
                            .g-time{
                                float: left;
                                width: 120px;
                                height: 25px;
                                border: 1px solid #1c6070;
                                font-size: 12px;
                                line-height: 25px;
                                color: #3f9ab0;
                                text-align: center;
                                margin:31px 0 0 10px;
                            }
                            .g-refresh{
                                float: left;
                                width: 61px;
                                height: 35px;
                                padding-left: 17px;
                                background: url('./../img/g (1).png') -908px -377px;
                                margin:22px 0 0 5px;
                                line-height: 38px;
                                border-top-right-radius: 8px;
                                cursor: pointer;
                            }
                        }
                    }
                    .g-main{
                        .g-tcm{
                            width: 185px;
                            height: 44px;
                            background: url('./../img/g\ \(2\).png') no-repeat 0 0;
                            padding: 27px 0 0 87px;
                            font-size: 26px;
                            font-weight: normal;
                            margin-top: 35px;
                            color: #59e4ff;
                        }
                        .g-tab{
                            margin-top: 18px;
                            .g-tab1{
                                border-collapse: collapse;
                                border-spacing: 0;
                                // font-style: none;
                                font-family: "microsoft yahei";
                                width: 100%;
                                border: #2e4267 1px solid;
                                thead{
                                    tr{
                                        th{
                                            height: 42px;
                                            font-size: 16px;
                                            color: #59e4ff;
                                            text-align: center;
                                            background-color: rgba(53,87,132,.6);
                                            font-weight: none;
                                        }
                                    }
                                }
                                tbody{
                                    tr{
                                        td{
                                            color: #7ba7dd;
                                            height: 38px;
                                            text-align: center;
                                            font-size: 14px;
                                            
                                        }
                                        .g-bar{
                                            font-style: normal;
                                        }
                                    }
                                    .g-bgc1{
                                        background-color: rgb(24, 31, 50)
                                    }
                                }
                                .g-bor1{
                                    border-right: 1px solid #24334e;
                                }
                            }
                        }






// 英雄联盟玩家创作馆



.w-pbbig{
    .w-headerpb{
        background-color: #fff;
        vertical-align: middle;
        height: 64px;
       
        width: 100%;
        top: 42px;
        z-index: 9;
        border-top: 1xp solid #ccc;
        // position: fixed;
        // top: 50px;
        .w-pbbox{
            padding-top: 10px;
            position: relative;
            width:100%;
            margin: 0 auto;
            height: 100%;
            box-sizing: border-box;
            min-width: 1240px;
            .w-pbbox1{
             width: 1400px;
             margin: 0 auto;
                .w-pblogo{
                    background-position: 0 0;
                    width: 139px;
                    height: 45px;
                    display: inline-block;
                    vertical-align: middle;
                    background: url("../img/w(36).png");
                }
            }
        
            .w-top-nav{
                display: inline-block;
                margin: 0 395px 0 53px;
                transition: margin-right .3s;
                vertical-align: middle;
            
                li{
                    float: left;
                    margin-right: 50px;
                    height: 33px;
                    line-height: 33px;
                    .active{
                  
                        color: #2bbbdc;       
                    }
                    .nav-a{
                        font-size: 16px;
                        display: inline-block;
                        height: 33px;
                        color: #000;
                        .w-iconpb{
                            vertical-align: -5px;
                            margin-right: 8px;
                            display: inline-block;
                            background-image: url("../img/w(37).png");
                            background-size: 280px 256px;
                            background-repeat: no-repeat;
                            background-position: -160px -87px;
                            width: 24px;
                            height: 24px;
                        }
                        .w-iconpb1{
                            vertical-align: -5px;
                            margin-right: 8px;
                            display: inline-block;
                            background-image: url("../img/w(37).png");
                            background-size: 280px 256px;
                            background-repeat: no-repeat;
                            background-position: -189px 0px;
                            width: 24px;
                            height: 24px;                  
                        }
                        .w-iconpb2{
                            vertical-align: -5px;
                            margin-right: 8px;
                            display: inline-block;
                            background-image: url("../img/w(37).png");
                            background-size: 280px 256px;
                            background-repeat: no-repeat;
                            background-position: -160px -58px;
                            width: 24px;
                            height: 24px;                  
                        }
                        .w-iconpb3{
                            vertical-align: -5px;
                            margin-right: 8px;
                            display: inline-block;
                            background-image: url("../img/w(37).png");
                            background-size: 280px 256px;
                            background-repeat: no-repeat;
                            background-position: -29px -214px;
                            width: 24px;
                            height: 24px;                  
                        }
                    }
                }
                
            }
            .w-right-src{
                display: inline-block;
                vertical-align: middle;
                width: 289px;
                height: 52px;
                .w-searchpb{
                    display: inline-block;
                    position: relative;
                    width: 176px;
                    height: 32px;
                    .w-ipt{
                        width: 176px;
                        height: 32px;
                        background-color: #f1f1f1;
                        border: 1px solid #c9eef6;
                        border-radius: 4px;
                        box-sizing: border-box;
                        padding-left: 12px;
                        padding-right: 33px;                                              
                        font-size: 16px;
                      
                        }
                        .list li{
                            font-size: 14px;
                            padding: 6px 10px;
                            color: #ccc;
                          
                        }
                        .list li:hover{
                            background-color: #666;
                        }
                    }
                }
               
            }
        }

   
   .w-pbtu{
    img{
        width: 100%;
    }
   }
    .w-second{
        height: 58px;
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #e7e7e7;
        position: relative;
        z-index: 2;
    }
    .show{
        width: 1200px;
      
        margin: 0 auto;
         ul{
            float: left;
            width: 220px;
            margin-right: 20px;
        
             li{
                min-height: 140px;
                max-height: 250px;
                margin-bottom: 20px;
                border-radius: 5px;
                
            }
             img{
                width: 220px;
                display: block;
            }
        }
    }
    .hidde{
        width: 900px;
        height: 300px;

        float:right ;
       .show{
            display: block;
            width: 800px;
            min-height: 465px;
            margin: 20px auto 0;
          
        }
       .hidde{
            display: none;
          
        }
    }   

                        .g-cnt{
                            width: 185px;
                            height: 44px;
                            background: url('./../img/g\ \(2\).png') no-repeat 0 -91px;
                            padding: 27px 0 0 87px;
                            font-size: 26px;
                            font-weight: normal;
                            margin-top: 35px;
                            color: #59e4ff;
                        }







                        .g-oth{
                            width: 185px;
                            height: 44px;
                            background: url('./../img/g\ \(2\).png') no-repeat 0 -183px;
                            padding: 27px 0 0 87px;
                            font-size: 26px;
                            font-weight: normal;
                            margin-top: 35px;
                            color: #59e4ff;
                        }








                        .atn{
                            font-size: 26px;
                            color: #4edfff;
                            margin-top: 40px;
                            font-weight: normal;
                        }
                        .g-lis{
                            list-style: none;
                            li{
                                margin-top: 18px;
                                font-size: 14px;
                                width: 100%;
                                .g-explain{
                                    font-style: normal;
                                }
                                .g-eln{
                                    color: #6485a0;
                                    line-height: 26px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}